@import url("https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LXGW WenKai', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    padding: 20px;
    background: #f5f5f5;
}

#app {
    width: 100%;
    min-height: 100%;
}